<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Wm21w\Sage\Api\CustomRepositoryInterface" type="Wm21w\Sage\Model\CustomRepository"/>
    <preference for="Wm21w\Sage\Api\Data\CustomDataInterface" type="Wm21w\Sage\Model\Data\CustomData"/>
</config>